.column {
  padding: 16px;
  padding-top: 0px;;
  background: var(--color-surface);
  border-radius: 6px;
  width: 18rem;
  max-width: calc(100vw - 6rem);
  height: 100%;
  flex-shrink: 0;
  scroll-snap-align: center;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  background: var(--color-surface);
  padding-top: 16px;
  position: sticky;
  top: 0;
}

.title {
  margin: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--text-primary);
}

.button {
  cursor: pointer;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 20px;
  height: 20px;
  color: var(--color-primary);
  background: unset;
  border-radius: 50%;
}

.formWrapper {
  padding-top: 16px;
}

.dropZone {
  flex-grow: 1;
}