 .formContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-background);
    border-radius: 7px;
    padding: 16px;
    row-gap: 16px;
}

.formContainer label {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    color: var(--text-primary);
    font-weight: 600;
    width: 100%;
}

.formContainer input, textarea {
    box-sizing: border-box;
    border-radius: 7px;
    border-color: var(--color-outline);
    border-style: solid;
    padding: 6px 12px;
    border-width: 1px;
    min-width: 100%;
    max-width: 100%;
    min-height: 32px;
    max-height: 15rem;
    color: var(--text-secondary);
    background-color: var(--color-background);
    font-family: inherit;    
}

.actions {
    display: flex;
    column-gap: 8px;
    cursor: pointer;
}

.actions button {
    border-style: solid;
    padding: 8px 12px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 100ms ease-in-out;
}

.buttonPrimary {
    font-weight: 600;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    box-shadow: 0px 1px 4px 0px #0000000A;
    background-color: transparent;
}

.buttonPrimary:hover {
    color: #fff;
    background-color: var(--color-primary);
}

.buttonError {
    font-weight: 600;
    color: var(--color-error);
    border: 2px solid var(--color-error);
    box-shadow: 0px 1px 4px 0px #0000000A;
    background-color: transparent;
}

.buttonError:hover {
    color: #fff;
    background-color: var(--color-error);
}

.buttonSecondary {
    font-weight: 400;
    color: var(--text-secondary);
    border-width: 0;
    background-color: transparent;
}

.buttonSecondary:hover {
    background-color: var(--color-outline); 
}